
.login_wrap{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .card_container{
    width: 400px;
    height: 300px;
  }
}



// #components-form-demo-normal-login .login-form {
//   max-width: 300px;
// }
// #components-form-demo-normal-login .login-form-forgot {
//   float: right;
// }
// #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
//   float: left;
// }
// #components-form-demo-normal-login .login-form-button {
//   width: 100%;
// }